__pycache__/
.pytest_cache/
.venv/
venv/
.git/
.github/
.idea/
.vscode/
data/
data.dvc
datasets/
models/
notebooks/
outputs/
reports/
wandb/
*.ipynb
*.png
*.jpg
*.jpeg
*.zip
*.tar
*.gz
*.ckpt
*.pt
*.pth
data/*
!data/processed/
data/processed/*
!data/processed/metadata.json
models/*
!models/model.pth
*.onnx
