name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
    fail-fast: false
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.13"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --dev --locked


      - name: Run tests & coverage
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m

  check-success:
    name: Unit Tests  # This matches exactly what the protection rule wants
    needs: [test]     # Replace 'test' with the ID of your matrix job
    runs-on: ubuntu-latest
    if: always()      # Ensures this runs even if others fail to report correctly
    steps:
      - name: Check matrix results
        if: contains(needs.test.result, 'failure') || contains(needs.test.result, 'cancelled')
        run: exit 1
